body, html {
    font-family:akkurat, univers, arial, sans-serif;
}
#carrel {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 12px;
}
#carrel-box {
    width: 300px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #808080;
}
#carrel-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#carrel-box li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
#export-carrel {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
#export-carrel:hover {
    text-decoration: underline;
}
#nav {
    height: 500px; 
    width: 20px; 
    position: absolute;
    left: 30px;
    top: 120px;
}
#histogram {
    width: 800px;
    position: absolute;
    top: 680px;
    left: 120px;
    margin-bottom: 100px;
    height: 150px;
}
#slider-range {
    border: 1px solid #808080;
}
.ui-slider-range {
    background-color: yellow;
}
.ui-slider-handle {
    background-color: black;
    left: 100%; 
    line-height: 60px;
    text-align: center;
    text-indent: -8px;
    text-decoration: none;
    color: black;
    outline: none;
}
#histogram rect {
    stroke: #808080;
}
#bookCounts {
    position: absolute;
    top: 790px;
    left: 120px;
}

#sort span {
	cursor: pointer;
}
#sort span:hover {
	text-decoration: underline;
}
#sort span.selected {
	background: yellow;
}
#info {
	font-family:akkurat, univers, arial, sans-serif;
    width: 420px;
    position: absolute;
    left: 950px;
    top: 140px;
    font-size: 16px;
    padding:16px;
    display: none;

}
#add-to-carrel {
    font-family: courier, monospace;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    cursor: pointer;
}
#add-to-carrel:hover {
    text-decoration: underline;
}

.infoLabel {
    font-family: courier, monospace;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0px;
    color: gray;
    text-transform:uppercase;
}

p {
    margin-bottom: 2px;
}

#letter {
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: black;
}

#title {
	font-weight: normal;
  	font-size: 24px;
  	text-transform: capitalize;
}

#creator, #lcsh {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 12px;
}

#creator li, #lcsh li {
	cursor: pointer;
}
#creator li:hover, #lcsh li:hover {
	text-decoration: underline;
}

#graph rect{
    fill: none;
    stroke: #ccc;
}

    #graph rect:hover{
    fill: yellow;
}

circle {
    opacity: .5;
}
circle:hover {
    opacity: 1;
    stroke: #fff;
    stroke-weight: 1;
}



.area {
	opacity: .15;
}

.axis path,
.axis line{
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

.axis text {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 11px;
}

.axis_labels {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 16px;
}

.barchart {
    font-size: 12px;
    fill: gray;
    z-index: -1;
}