body, html {
    font-family:akkurat, univers, arial, sans-serif;
}
#search-form {
    width: 900px;
    height: 100px;
}
.form-column {
    width: 300px;
    float: left;
    margin-right: 20px;
}
.form-row {
    width: 300px;
    height: 30px;
}
.form-row input {
    border: none;
    border-bottom: 1px solid black;
    float: right;
    width: 150px;
}
#carrel {
    position: fixed;
    top: 0px;
    right: 20px;
    font-size: 12px;
}
#carrel-box {
    width: 450px;
    height: 180px;
    background-color: #eee;
    border: 1px solid #808080;
    margin-bottom: 25px;
}
#carrel-box ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style-type: none;
}
#carrel-box li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 5px 0 0 5px;
    cursor: pointer;
    float: left;
    overflow: hidden;
}
#carrel-box span {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display: block;
    margin-top: 110px;
}
#export-carrel {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
#export-carrel:hover {
    text-decoration: underline;
}
#nav {
    height: 500px; 
    width: 20px; 
    position: absolute;
    left: 30px;
    top: 140px;
}
#histogram {
    width: 800px;
    position: absolute;
    top: 680px;
    left: 120px;
    margin-bottom: 100px;
    height: 150px;
}
#slider-range {
    border: 1px solid #808080;
}
.ui-slider-range {
    background-color: yellow;
}
.ui-slider-handle {
    background-color: black;
    left: 100%; 
    line-height: 60px;
    text-align: center;
    text-indent: -8px;
    text-decoration: none;
    color: black;
    outline: none;
}
#histogram rect {
    stroke: #808080;
}
#bookCounts {
    position: absolute;
    top: 800px;
    left: 650px;
    width: 300px;
    color: #808080;
}
#sort {
    position: absolute;
    top: 820px;
}
#sort span {
	cursor: pointer;
}
#sort span:hover {
	text-decoration: underline;
}
#sort span.selected {
	background: yellow;
}
#info {
	font-family:akkurat, univers, arial, sans-serif;
    width: 420px;
    position: fixed;
    right: 20px;
    top: 250px;
    font-size: 16px;
    padding:16px;
    display: none;
    border: 1px solid #000;
    max-height: 600px;
    overflow: scroll;
}
#add-to-carrel {
    font-family: courier, monospace;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
#add-to-carrel:hover {
    text-decoration: underline;
}

.infoLabel {
    font-family: courier, monospace;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0px;
    color: gray;
    text-transform:uppercase;
}

p {
    margin-bottom: 2px;
}

#letter {
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: black;
}

#title {
	font-weight: normal;
  	font-size: 24px;
  	text-transform: capitalize;
}

#creator, #lcsh {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 12px;
}

#creator li, #lcsh li {
	cursor: pointer;
}
#creator li:hover, #lcsh li:hover {
	text-decoration: underline;
}
#show-list {
    position: absolute;
    top: 20px;
    right: 400px;
    border: 1px solid 
    black;
    padding: 3px 5px;
    width: 83px;
    text-align: center;
    cursor: pointer;
}
#show-list:hover {
    background-color: #eee;
}
#list {
    width: 600px;
    position: absolute;
    top: 900px;
}
#list ul {
    list-style-type: none;
}
#list li {
    position: relative;
    margin-bottom: 50px;
}
#list li a {
    position: absolute;
    top: 3px;
    right: 0;
    color: #808080;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
#list .title {
    border-bottom: 4px solid black;
    font-weight: normal;
    padding-right: 120px;
}


#graph rect{
    fill: none;
    stroke: #ccc;
}

    #graph rect:hover{
    fill: yellow;
}

circle {
    opacity: .5;
}
circle:hover {
    opacity: 1;
    stroke: #fff;
    stroke-weight: 1;
}



.area {
	opacity: .15;
}

.axis path,
.axis line{
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

.axis text {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 11px;
}

.axis_labels {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 16px;
}

.barchart {
    font-size: 12px;
    fill: gray;
    z-index: -1;
}