body, html {
    font-family:akkurat, univers, arial, sans-serif;
}
#title-wrapper {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
h1 {
    font-size: 40px;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#nav-bar {
    background: black;
    width: 100%;
    padding: 5px 10px;
    color: white;
}
#nav-bar div {
    cursor: pointer;
    margin-right: 50px;
    display: inline-block;
    text-decoration: underline;
}
#search-form {
    width: 33%;
    height: 310px;
    background-color: white;
    display: none;
    position: fixed;
    top: 83px;
    z-index: 2;
    box-shadow: 5px 5px 10px #808080;
}
#search {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #808080;
    color: #808080;
    position: absolute;
    top: 270px;
    right: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.result-sort {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.result-sort .sort-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background-color: #808080;
}
.result-sort.selected {
    color: black;
}
.result-sort.selected .sort-box {
    background-color: #000;
}

#searchTerm {
	font-size: 20px;
    width: 700px;
	/*text-transform:capitalize;*/
	text-align: left;
	font-weight: normal;
    position: absolute;
    top: 0;
    left: 90px;
    cursor: pointer;
}
#search:hover {
    border-color: #000;
    color: #000;
}
.search-label {
    margin: 5px 23px;
    font-size: 10px;
}
.form-row {
    width: 90%;
    margin: 0 5%;
    height: 30px;
    clear: both;
    color: #aaa;
}
.form-row:first-child {
    margin-top: 20px;
}
.form-row .box {
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: #aaa;
    float: left;
    margin-right: 7px;
    cursor: pointer;
}
.form-row.locked .box {
    background-color: #000;
}
.form-row.locked {
    color: #000;
}
.form-row label {
    float: left;
    margin-right: 10px;
}
.form-row input {
    border: none;
    border-bottom: 1px solid black;
    float: left;
    width: 250px;
}
.right-half {
    width: 73%;
    position: relative;
    float: right;
    height: 100%;
}
.left-half{
    width: 25%;
    position: fixed;
    height: 100%;
    margin-top: 90px;
}
#graph-wrapper {
    position: absolute;
    top: 80px;
    width: 100%;
}
#carrel {
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    height: 200px;
}
#carrel-box {
    width: 100%;
    height: 150px;
    background-color: #eee;
    border: 1px solid #808080;
    margin-bottom: 5px;
}
#carrel-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: scroll;
    height: 170px;
    white-space: nowrap;
}
#carrel-box li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
#carrel-box span {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display: block;
}
.carrel-action {
    cursor: pointer;
    text-align: right;
    display: block;
    margin-bottom: 3px;
}
#nav {
    height: 500px;
    width: 300px;
    position: absolute;
    left: 80px;
    top: 35px;
}
#nav-context {
    height: 500px;
    width: 300px;
    position: absolute;
    left: 50px;
    top: 35px;
}
#nav-context.child text {
    display: none;
}
.schema rect {
    stroke: white;
}
.schema.selected rect {
    stroke: black;
}
.schema text {
    font-family: sans-serif;
    font-size: 12px;
}
#graph {
    width: 80%;
}
#graph-subjects {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 130px;
    top: 40px;
}

#histogram {
    width: 80%;
    position: absolute;
    top: 560px;
    margin-bottom: 100px;
    padding: 0 40px 0 130px;
    box-sizing: border-box;
    height: 125px;
}
#histogram .reset {
    border: 1px solid #808080;
    color: #808080;
    cursor: pointer;
    padding: 2px 6px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin-left: -8px;
}
#histogram .reset:hover {
    border-color: #000;
    color: #000;
}
#histogram .axis_labels {
    text-align: center;
    margin-top: 30px;
}
#slider-range {
    border: 1px solid #808080;
}
.ui-slider-range {
    background-color: yellow;
}
.ui-slider-handle {
    background-color: black;
    left: 100%;
    line-height: 60px;
    text-align: center;
    text-indent: -8px;
    text-decoration: none;
    color: black;
    outline: none;
}
.ui-slider-horizontal .ui-slider-handle {
    width: 15px;
    height: 20px;
    top: -5px;
    font-size: 12px;
    line-height: 60px;
    margin-left: -6px;
    text-indent: -7px;
    cursor: pointer;
}
#histogram rect {
    stroke: #fff;
}
#bookCounts {
    position: absolute;
    top: 580px;
    left: 80%;
    color: #808080;
    font-size: 12px;
    width: 15%;
}
#sort {
    position: fixed;
    top: 150px;
    right: 0px;
    width: 13%;
}
#sort ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 100px;
    margin-bottom: 15px;
}
#sort li {
    cursor: pointer;
}
#sort li:hover {
    background: #ddd;
}
#sort li.selected {
    background: yellow;
}
#sort li:first-child {
    font-weight: bold;
    cursor: default !important;
    background: white !important;
}
#sort .list,
.list #sort .graph {
    display: none;
}
.list #sort .list {
    display: block;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#info-wrapper {
    font-family:akkurat, univers, arial, sans-serif;
    width: 100%;
    position: absolute;
    top: 0px;
    font-size: 16px;
    box-sizing: border-box;
    height: 450px;
    background: #ddd;
}
#info-wrapper h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 8px 10px;
}
#info-wrapper .notch {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: white;
}
#info-wrapper .book-sort {
    cursor: pointer;
    -webkit-user-select: none;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 13px solid #808080;
    display: inline-block;
    float: left;
    margin-right: 5px;
 }
 #info-wrapper .book-sort.next {
    cursor: pointer;
    -webkit-user-select: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: none;
    border-left: 13px solid #808080;
}

#info {
    position: absolute;
    top: 40px;
    bottom: 20px;
    left: 10px;
    right: 20px;
    overflow: scroll;
    padding-left: 20px;
}
#add-to-carrel {
    font-family: courier, monospace;
    text-transform: uppercase;
    position: absolute;
    top: 460px;
    z-index: 100;
    cursor: pointer;
}
#add-to-carrel:hover {
    text-decoration: underline;
}

#info .infoLabel {
    font-family: courier, monospace;
    font-size: 12px;
    line-height: 12px;
    margin: 15px 0 3px;
    color: gray;
    text-transform:uppercase;
    text-decoration: underline;
    cursor: pointer;
}
#info .infoLabel.clicked .tick {
    background-color: #808080;
}
#info .tick {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: white;
    margin: 0 5px 0 -18px;
    float: left;
}
#info .box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
}
#info p {
    margin: 0;
    font-size: 14px;
}

#info .title {
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    margin: 0;
}

#info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#info .field li {
    cursor: pointer;
}
#info .field li:hover {
    text-decoration: underline;
}
#show-graph {
    border: 1px solid #808080;
    color: #808080;
    padding: 3px 5px;
    width: 83px;
    text-align: center;
    cursor: pointer;
}
#show-list {
    border: 1px solid #808080;
    color: #808080;
    padding: 3px 5px;
    width: 83px;
    text-align: center;
    cursor: pointer;
}
#show-list:hover {
    border-color: black;
    color: black;
}
#list-wrapper {
    width: 80%;
    margin-top: 90px;
    display: none;
}
.list #list-wrapper {
    display: block;
}
.list #graph-wrapper {
    display: none;
}
#list, #list-sort-by {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#list-sort-by {
    margin-bottom: 15px;
}
#list-sort-by li {
    display: inline-block;
    cursor: pointer;
    margin-right;
}
#list-sort-by li:hover {
    background-color: yellow;
}
#list-sort-by li:first-child {
    cursor: default;
    background-color: transparent !important;
}
#list {
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}
#list li {
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}
#list .item {
    border-bottom: 2px solid black;
    font-weight: normal;
    margin: 0 0 8px 0;
    height: 20px;
}
#list .item:hover {
    color: #808080;
}
#list .title {
    font-weight: bold;
}
#list .left {
    float: left;
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
}
#list .right {
    float: right;
    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
}

circle {
    opacity: .5;
}
circle:hover {
    opacity: 1;
    stroke: #fff;
    stroke-weight: 1;
}



.area {
    opacity: .15;
}

.axis path,
.axis line{
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.axis text {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 11px;
}

.axis_labels {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.barchart {
    font-size: 12px;
    fill: gray;
    z-index: -1;
}


#tooltip {
    width: auto;
    height: auto;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 100;
    padding: 15px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
}