body, html {
    font-family: brown, futura, neuzeit, akkurat, univers, helvetica, arial, sans-serif;
    margin: 0;
}
#title-wrapper {
    position: fixed;
    background: white;
    z-index: 1;
    top: 0;
    left: 40px;
    right: 20px;
}
#subtitle{
	font-size:12px;
}
h1 {
    font-size: 40px;
    margin: 10px 4px 4px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#nav-bar {
    background: black;
    padding: 8px;
    color: white;
}
#nav-bar div {
    cursor: pointer;
    margin-right: 30px;
    display: inline-block;
    text-decoration: underline;
}
#show-search img {
    margin: 1px 5px 0 0;
    float: left;
}
#search-form {
    width: 450px;
    height: 250px;
    background-color: white;
    display: none;
    position: fixed;
    top: 94px;
    left: 40px;
    z-index: 2;
    box-shadow: 5px 5px 10px #808080;
}
#search {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #808080;
    color: #808080;
    position: absolute;
    top: 202px;
    right: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.result-sort {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.result-sort .sort-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background-color: #808080;
}
.result-sort.selected {
    color: black;
}
.result-sort.selected .sort-box {
    background-color: #000;
}

#breadcrumb {
    position: absolute;
    top: 425px;
    left: -140px;
    height: 30px;
    width: 150px;
}
#breadcrumb .link {
    font-size: 12px;
}
#breadcrumb .tick {
    margin: 0 10px;
}
#breadcrumb .item {
    cursor: pointer;
}
#breadcrumb .item:hover {
    text-decoration: underline;
}

#searchTerm {
	font-size: 20px;
    width: 60%;
	text-align: left;
	font-weight: normal;
    position: fixed;
    top: 104px;
    left: 40px;
    padding: 5px 0;
    cursor: pointer;
    background: white;
    z-index: 1;
}
#search:hover {
    border-color: #000;
    color: #000;
}
.form-row {
    width: 90%;
    margin: 0 5%;
    height: 30px;
    clear: both;
    color: #aaa;
}
.form-row:first-child {
    margin-top: 20px;
}
.form-row .clear {
    height: 15px;
    width: 15px;
    background-image: url(img/clear-box.png);
    background-position: 0 -15px;
    float: right;
    margin-right: 7px;
    cursor: pointer;
    display: none;
}
.form-row.filled .clear {
    display: inline-block;
}
.form-row.filled .clear:hover {
    background-position: 0 0;
}
/*.form-row.locked .box {
    background-color: #000;
}
.form-row.locked {
    color: #000;
}*/
.form-row label {
    float: left;
    margin-right: 10px;
}
.form-row input {
    border: none;
    border-bottom: 1px solid black;
    float: left;
    width: 200px;
}
.right-half {
    width: 27%;
    position: fixed;
    height: 100%;
    margin-top: 100px;
    right: 20px;
}

.left-half{
    width: 73%;
    position: relative;
    float:left;
    height: 100%;
    margin-top: 140px;
    margin-left: 40px;
}
#graph-wrapper {
    position: absolute;
    top: 0px;
    left:140px;
    width: 100%;
}

#carrel {
    font-size: 10px;
    width: 100%;
    position: absolute;
    bottom: 170px;
    height: 120px;
}
#carrel-box {
    width: 100%;
    height: 76px;
    border: 1px solid #808080;
    margin-bottom: 7px;
    box-sizing: border-box;
}

#carrel-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: scroll;
    height: 84px;
    white-space: nowrap;
}
#carrel-box li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
#carrel-box span {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display: block;
}
.carrel-action {
    cursor: pointer;
    margin-bottom: 3px;
    float: right;
    font-size: 14px;
    color: #808080;
	border-color: #808080;
    border-style: solid;
    border-width: 1px;
    padding:3px 6px;
}
.carrel-action:nth-child(2) {
    float: right;
}
.carrel-action:hover {
    text-decoration: underline;
}
#labels {
    width: 718px;
    height: 530px;
    position: absolute;
    left: 80px;
    top: 0px;
    z-index: -1;
}
#labels text {
    font-family: akkurat, futura, helvetica, sans-serif;
    font-size: 12px;
}
#labels .b{
    font-weight: bold;
}
#graph-labels text {
    font-family: akkurat, futura, helvetica, sans-serif;
    font-size: 12px;
}
#nav {
    height: 490px;
    width: 30px;
    position: absolute;
    left: 80px;
    top: 0px;
}
#nav-context {
    height: 510px;
    width: 30px;
    position: absolute;
    left: 50px;
    top: 0px;
}
#graph-wrapper #graph-reset,
#graph-wrapper.child #nav-context text {
    display: none;
}
#graph-wrapper.child #graph-reset {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px;
}
.schema rect {
    stroke: white;
}
.schema.selected rect {
    stroke: black;
}
#graph {
	left: 140px;
    width: 80%;
}
#graph-subjects {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 130px;
    top: 5px;
}

#histogram {
    width: 80%;
    position: absolute;
    top: 520px;
    margin-bottom: 16px;
    padding: 0 40px 0 130px;
    box-sizing: border-box;
    height: 80px;
}

#bookcounts{
color:black;
background-color: white;
width:200px;
height:25px;
font-size: 10px;
line-height: 14px;
left: 150px;
z-index: 200;
position:absolute;
padding: 6px;
display:block;
}

#bookcounts-hidden{
display:none;
}
#graph-reset {
    border: 1px solid #808080;
    color: #808080;
    cursor: pointer;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    margin-top: 400px;
    margin-left: -140px;
}

#histogram .reset {
    left: 70px;
}
#histogram .reset:hover,
#graph-reset:hover {
    border-color: #000;
    color: #000;
}
#histogram .axis_labels {
    text-align: center;
    margin-top: 20px;
}
#slider-range {
    border: 1px solid #808080;
    height: 10px;
    box-sizing: border-box;
}
.ui-slider-range {
    background-color: rgba(0,0,0,.1);
}
.ui-slider-handle {
    background-color: black;
    left: 100%;
    line-height: 60px;
    text-align: center;
    text-indent: -8px;
    text-decoration: none;
    color: black;
    outline: none;
}
.ui-slider-horizontal .ui-slider-handle {
    width: 10px;
    height: 16px;
    top: -4px;
    font-size: 12px;
    line-height: 53px;
    margin-left: -5px;
    text-indent: -8px;
    cursor: pointer;
}
#histogram rect {
    stroke: #fff;
}
#bookCounts {
    position: absolute;
    top: 580px;
    left: 80%;
    color: #808080;
    font-size: 12px;
    width: 15%;
}
#sort {
    position: fixed;
    top: 141px;
    left: 40px;
    width: 130px;
    border: 1px solid #ddd;
    padding: 10px;
}
#sort h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: normal;
}
#sort .graph-toggle {
    cursor: pointer;
    margin: 10px 0px;
    display: block;
    width: 100px;
    font-size: 14px;
    line-height: 30px;
    left: 0px;
    color: #A6A6A6;
}
#sort .graph-toggle:hover {
    color: #808080;
}
#sort .graph-toggle.selected {
    color: #000;
}
#sort .graph-toggle span {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    background-image: url(img/sort-sprite.png);
}
#sort #show-graph span {
    background-position: -30px -60px;
}
#sort #show-graph:hover span {
    background-position: -30px -30px;
}
#sort #show-graph.selected span {
    background-position: -30px 0px;
}
#sort #show-list span {
    background-position: 0 -60px;
}
#sort #show-list:hover span {
    background-position: 0 -30px;
}
#sort #show-list.selected span {
    background-position: 0 0;
}
#sort ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin-top: 15px;
}
#sort li {
    cursor: pointer;
    text-transform: capitalize;
    margin-bottom: 5px;
}
#sort .disabled {
    cursor: default;
    margin-left: 14px;
    color: #808080;
}
#sort .indent .disc {
    margin-right: 19px;
}
#sort .disc {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
}
#sort li:hover .disc {
    background-color: #ddd;
}
#sort li.selected .disc {
    background: #000;
}
#sort li:first-child{
    font-weight: bold;
    cursor: default !important;
    text-decoration: underline;
    text-transform: uppercase;
}
#sort .list,
.list #sort .graph {
    display: none;
}
.list #sort .list {
    display: block;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#info-wrapper {
    font-family:akkurat, univers, arial, sans-serif;
    width: 100%;
    position: absolute;
    top: 40px;
    font-size: 16px;
    box-sizing: border-box;
    height: 50%;
    background: #eee;
    border: 1px solid #ccc;
}
#info-wrapper h3 {
    font-weight: normal;
    margin: 0;
    font-size: 20px;
}
#info-wrapper .notch {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 20px;
    height: 0px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    
}
#info-wrapper .info-title {
    margin-top: 10px;
    color: #808080;
}
#info-wrapper .sort-heading {
    float: left;
    width: 200px;
    text-align: center;
    width: 60%;
}
#info-wrapper .sort-heading p {
    font-family: courier, monospace;
    text-transform: uppercase;
    margin: 2px;
    font-size: 14px;
}
#info-wrapper .book-sort {
    cursor: pointer;
    -webkit-user-select: none;
    float: left;
    width: 20%;
 }
 #info-wrapper .book-sort:hover {
    color: #000;
 }
 #info-wrapper .book-sort:hover .tri {
    border-right-color: #000;
 }
 #info-wrapper .book-sort.next:hover .tri {
    border-right-color: transparent;
    border-left-color: #000;
 }
 #info-wrapper .book-sort .tri {
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 13px solid #808080;
    display: block;
    float: left;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
 }
 #info-wrapper .book-sort.next {
    float: right;
    font-size: 10px;
 }
 #info-wrapper .book-sort.next .tri {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: none;
    border-left: 13px solid #808080;
    float: right;
    padding: 0 20px 0 0;
}
#info-wrapper .book-sort .note {
    clear: both;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    font-family: courier, monospace;
    font-size: 10px;
}
#info-wrapper .book-sort.next .note {
    text-align: right;
    padding: 0 10px 0 0;
}

#info {
    position: absolute;
    top: 70px;
    bottom: 40px;
    right: 20px;
    left: 0;
    overflow: scroll;
    padding-left: 30px;
    border-top: 5px solid #eee;
}
#add-to-carrel {
    position: absolute;
    bottom: 300px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #808080;
    text-decoration: underline;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    padding:3px 6px;
}
#add-to-carrel:hover {
    text-decoration: underline;
}

#info .infoLabel {
    font-family: courier, monospace;
    font-size: 12px;
    line-height: 12px;
    margin: 15px 0 3px;
    color: gray;
    text-transform:uppercase;
    cursor: pointer;
}
#info .title .infoLabel {
    margin-top: 5px;
}
#info .infoLabel.clicked .tick {
    background-color: #808080;
}
#info .tick {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: white;
    margin: 0 5px 0 -18px;
    float: left;
}
#info .box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
}
#info p {
    margin: 0;
    font-size: 14px;
}

#info .title .field {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}

#info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#info .field li {
    cursor: pointer;
}
#info .field li:hover {
    text-decoration: underline;
}
#list-wrapper {
    width: 75%;
    display: none;
    margin-left: 170px;
}
.list #list-wrapper {
    display: block;
}
.list #graph-wrapper {
    display: none;
}
#list, #list-sort-by {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#list-sort-by {
    margin-bottom: 15px;
}
#list-sort-by li {
    display: inline-block;
    cursor: pointer;
    margin-right;
}
#list-sort-by li:hover {
    background-color: yellow;
}
#list-sort-by li:first-child {
    cursor: default;
    background-color: transparent !important;
}
#list {
	font-size: 12px;
	line-height: 16px;
    border: 1px solid #000;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#list li {
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}
#list .item {
    border-bottom: 2px solid black;
    font-weight: normal;
    margin: 0 0 8px 0;
    height: 20px;
}
#list .item:hover {
    color: #808080;
}
#list .title {
    font-weight: bold;
}
#list .left {
    float: left;
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#list .right {
    float: right;
    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

circle {
    opacity: .5;
}
circle:hover {
    opacity: 1;
    stroke: #000;
    stroke-weight: 2;
}
circle .selected {
    opacity: 1;
    stroke: #0f0;
    stroke-weight: 5;
}


.area {
    opacity: .15;
}

.axis path,
.axis line{
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.axis text {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 11px;
}

.axis_labels {
    font-family:akkurat, univers, arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.barchart {
    font-size: 12px;
    fill: gray;
    z-index: -1;
}
#shield {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    z-index: 199;
}

#popup {
	font-size: 14px;
	line-height: 22px;
	margin-right:25%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    z-index: 200;
    left: 25%;
    top: 25%;
    text-align: left;
    cursor: pointer;
    padding:16px 36px;
}
#popup li{
padding-bottom: 4px;
}
#popup p{
}

#popup img{
margin-left: auto;
margin-right: auto;
    display: block;
}

#more-instructions{
	font-size: 14px;
	line-height: 22px;
	margin-right:25%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    z-index: 200;
    left: 25%;
    top: 25%;
    text-align: left;
    cursor: pointer;
    padding:16px 36px;
    display:none;

}

#tooltip {
    max-width: 300px;
    height: auto;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 100;
    padding: 15px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    display: none;
}