body, html {
    font-family: futura, brown, neuzeit, akkurat, univers, helvetica, arial, sans-serif;
    margin: 0;
}
#title-wrapper {
    position: fixed;
    background: white;
    z-index: 1;
    top: 0;
    left: 3%;
    right: 3%;
    border-bottom: 1px solid black;
}
#subtitle{
	font-size:12px;
}
#title-wrapper h1 {
    font-size: 40px;
    margin: 10px 4px 4px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
}
#nav-bar {
    float: right;
    margin-top: 35px;
}
#nav-bar div {
    cursor: pointer;
    margin-left: 30px;
    display: inline-block;
    text-decoration: underline;
}

#show-search {
    float: left;
}
#show-search img {
    margin: 1px 5px 0 0;
    float: left;
}
#search-form {
    width: 70%;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 68px;
    z-index: 2;
    padding: 10px 0;
    box-sizing: border-box;
}
.top-control {
    float: left;
    margin-right: 10px;
}
.top-control:nth-child(1) {
    width: 50%;
}
.search.top-control  {
    position: relative;
    top: auto;
    right: auto;
    font-size: 20px;
    padding: 8px 10px 7px;
    margin-top: 0;
    font-family: Lucida Grande;
}
#export-all {
    margin: 20px 0 0 20px;
}

#search-fold {
    width: 50%;
    background-color: white;
    border: 1px solid #808080;
    z-index: 2;
    padding: 0 10px 10px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 49px;
}
#search-fold p {
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
}
#search-fold .hide-search {
    position: absolute;
    bottom: -1px;
    right: -1px;
    margin-right: 0;
}
.form-row {
    color: #aaa;
    clear: both;
    height: 30px;
}
.form-row .clear {
    height: 15px;
    width: 15px;
    background-image: url(img/clear-box.png);
    background-position: 0 -15px;
    float: left;
    margin: 5px 7px;
    cursor: pointer;
    display: none;
}
.form-row.filled .clear {
    display: inline-block;
}
.form-row.filled .clear:hover {
    background-position: 0 0;
}
.form-row label {
    float: left;
    margin-right: 10px;
}
.form-row input {
    border: none;
    background-color: #f7f7f7;
    border: 1px solid #808080;
    float: left;
    padding: 3px 4px;
    width: 200px;
}
#search-lcsh_keyword {
    width: 100%;
    height: 40px;
    border: 1px solid #808080;
    background-color: #f7f7f7;
    font-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
.search {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #808080;
    color: #808080;
    position: absolute;
    top: 202px;
    right: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.search:hover {
    border-color: #000;
    color: #000;
}

.result-sort {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.result-sort .sort-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background-color: #808080;
}
.result-sort.selected {
    color: black;
}
.result-sort.selected .sort-box {
    background-color: #000;
}

#breadcrumb {
    position: absolute;
    top: -10px;
    left: 0;
    height: 30px;
    width: 100%;
    display: none;
    font-size: 12px;
}
#breadcrumb .tick {
    margin: 0 10px;
}
#breadcrumb .item {
    cursor: pointer;
}
#breadcrumb .item:hover {
    text-decoration: underline;
}

#searchTerm {
	font-size: 20px;
    width: 70%;
	text-align: left;
	font-weight: normal;
    position: fixed;
    top: 125px;
    padding: 5px 0;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    z-index: 1;
}
.right-half {
    width: 27%;
    position: fixed;
    height: 100%;
    margin-top: 80px;
    right: 0px;
}

.left-half{
    width: 70%;
    margin-left: 3%;
    position: relative;
    float:left;
    height: 100%;
    margin-top: 170px;
}
#graph-wrapper {
    position: absolute;
    top: 10px;
    width: 100%;
}

#carrel {
    font-size: 10px;
    width: 90%;
    position: absolute;
    top: 542px;
    height: 120px;
}
#carrel-box {
    width: 100%;
    height: 90px;
    border: 1px solid #808080;
    margin-bottom: 7px;
    box-sizing: border-box;
}

#carrel-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: scroll;
    height: 84px;
    white-space: nowrap;
}
#carrel-box li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
#carrel-box span {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display: block;
}
.carrel-action {
    font-family: 'Lucida Grande';
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    font-size: 14px;
    color: #808080;
	border: 1px solid #808080;
    padding: 2px 6px 3px;
    font-size: 11px;
}
.carrel-action:hover {
    color: black;
    border-color: black;
}
#labels {
    width: 86%;
    height: 530px;
    position: absolute;
    left: 7%;
    top: 0px;
    z-index: -1;
}
#labels text,
#graph-labels text {
    font-size: 12px;
    fill: #808080;
}
#labels .b{
    font-weight: bold;
}
#rollover rect {
    fill: #f7f7f7;
}
#rollover text {
    fill: black;
}
#nav {
    height: 490px;
    width: 3%;
    position: absolute;
    left: 4%;
    top: 0px;
}
#nav-context {
    height: 510px;
    width: 3%;
    position: absolute;
    left: 7%;
    top: 0px;
}
#graph-wrapper #graph-reset,
#graph-wrapper.child #nav-context text {
    display: none;
}
#graph-wrapper.child #graph-reset {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px;
}
.schema rect {
    stroke: white;
}
.schema.selected rect {
    stroke: black;
}
#graph {
    position: absolute;
	left: 10%;
}
#graph-subjects {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 130px;
    top: 5px;
}

#histogram {
    width: 98%;
    position: absolute;
    top: 510px;
    margin-bottom: 16px;
    padding: 0 40px 0 130px;
    box-sizing: border-box;
    height: 80px;
}

#bookcounts{
    color:black;
    background-color: white;
    width:200px;
    height:25px;
    font-size: 10px;
    line-height: 14px;
    left: 150px;
    z-index: 200;
    position:absolute;
    padding: 6px;
    display:block;
}

#bookcounts-hidden{
    display:none;
}
#graph-reset {
    border: 1px solid #808080;
    color: #808080;
    cursor: pointer;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    margin-top: 400px;
    margin-left: -140px;
}

#histogram .reset {
    left: 70px;
}
#histogram .reset:hover,
#graph-reset:hover {
    border-color: #000;
    color: #000;
}
#histogram .axis-label {
    text-align: center;
    margin-top: 15px;
}
.axis-label.vertical {
    position: absolute;
    top: 250px;
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    left: -80px;
}
#slider-range {
    border: 1px solid #808080;
    height: 10px;
    box-sizing: border-box;
}
.ui-slider-range {
    background-color: #f7f7f7;
}
.ui-slider-horizontal .ui-slider-handle {
    width: 36px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    text-indent: 0px;
    top: -4px;
    background: white;
    border: 1px solid #808080;
    color: #808080;
    font-family: Lucida Grande;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    margin-left: -24px;
}
.ui-slider-horizontal .ui-slider-handle:hover {
    color: black;
    border-color: black;
}

#histogram rect {
    stroke: #fff;
}
#sort h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    margin-bottom: 2px;
    padding-bottom: 5px;
    font-weight: normal;
    text-decoration: underline;
}
#sort .graph-type {
    float: left;
}
#sort .graph-toggle {
    cursor: pointer;
    margin: 0 0 10px 0;
    display: block;
    width: 100px;
    font-size: 14px;
    line-height: 30px;
    left: 0px;
    color: #A6A6A6;
}
#sort .graph-toggle:hover {
    color: #808080;
}
#sort .graph-toggle.selected {
    color: #000;
}
#sort .graph-toggle span {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    background-image: url(img/sort-sprite.png);
}
#sort #show-graph span {
    background-position: -30px -60px;
}
#sort #show-graph:hover span {
    background-position: -30px -30px;
}
#sort #show-graph.selected span {
    background-position: -30px 0px;
}
#sort #show-list span {
    background-position: 0 -60px;
}
#sort #show-list:hover span {
    background-position: 0 -30px;
}
#sort #show-list.selected span {
    background-position: 0 0;
}
#sort ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 50%;
    float: right;
}
#sort li {
    cursor: pointer;
    text-transform: capitalize;
    margin-bottom: 1px;
    color: #A6A6A6;
}
#sort li:hover {
    color: #808080;
}
#sort li.selected {
    color: black;
}
#sort .disabled {
    cursor: default;
    margin-left: 14px;
    color: #808080;
}
#sort .indent .disc {
    margin-right: 19px;
}
#sort .disc {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
    display: none;
}
#sort li:hover .disc {
    background-color: #ddd;
}
#sort li.selected .disc {
    background: #000;
}
#sort li:first-child{
    cursor: default !important;
    color: black !important;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#sort .list,
.list #sort .graph {
    display: none;
}
.list #sort .list {
    display: block;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#info-wrapper {
    width: 90%;
    position: absolute;
    top: 120px;
    font-size: 16px;
    box-sizing: border-box;
    height: 400px;
    background: #f7f7f7;
    border: 1px solid #808080;
}
#info-wrapper h3 {
    font-weight: normal;
    margin: 0;
    font-size: 20px;
}
#info-wrapper .info-bar {
    width: 100%;
    height: 15px;
}
#info-wrapper .notch {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 20px;
    height: 0px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    
}
#info-wrapper .info-title {
    margin-top: 10px;
    color: #808080;
}
#info-wrapper .sort-heading {
    float: left;
    width: 200px;
    text-align: center;
    width: 60%;
}
#info-wrapper .sort-heading p {
    text-transform: uppercase;
    margin: 2px;
    font-size: 14px;
}
#info-wrapper .book-sort {
    cursor: pointer;
    -webkit-user-select: none;
    float: left;
    width: 20%;
 }
 #info-wrapper .book-sort:hover {
    color: #000;
 }
 #info-wrapper .book-sort:hover .tri {
    border-right-color: #000;
 }
 #info-wrapper .book-sort.next:hover .tri {
    border-right-color: transparent;
    border-left-color: #000;
 }
 #info-wrapper .book-sort .tri {
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 13px solid #808080;
    display: block;
    float: left;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
 }
 #info-wrapper .book-sort.next {
    float: right;
    font-size: 10px;
 }
 #info-wrapper .book-sort.next .tri {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: none;
    border-left: 13px solid #808080;
    float: right;
    padding: 0 20px 0 0;
}
#info-wrapper .book-sort .note {
    clear: both;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    font-family: courier, monospace;
    font-size: 10px;
}
#info-wrapper .book-sort.next .note {
    text-align: right;
    padding: 0 10px 0 0;
}

#info {
    position: absolute;
    top: 15px;
    bottom: 20px;
    right: 10px;
    padding-right: 10px;
    left: 0;
    overflow: scroll;
    padding-left: 20px;
}
#add-to-carrel {
    position: absolute;
    bottom: -1px;
    cursor: pointer;
    width: 100%;
    padding: 4px 0 4px;
    left: -1px;
    text-align: center;
}

#info .infoLabel {
    font-size: 12px;
    line-height: 12px;
    margin: 15px 0 3px;
    text-transform:uppercase;
}
#info .title .infoLabel {
    margin-top: 5px;
}
#info .infoLabel.clicked .tick {
    background-color: #808080;
}
#info .tick {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: white;
    margin: 0 5px 0 -18px;
    float: left;
}
#info .box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
}
#info p {
    margin: 0;
    font-size: 14px;
}
#info .field {
    color: #808080;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#info .title .field {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
#info .title a {
    color: black;
}

#info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#info .field li {
    cursor: pointer;
}
#info .field li:hover {
    text-decoration: underline;
}
#list-wrapper {
    width: 96%;
    display: none;
    font-family: Helvetica;
}
.list #list-wrapper {
    display: block;
}
.list #graph-wrapper {
    display: none;
}
#list, #list-sort-by {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#list-sort-by {
    margin-bottom: 15px;
}
#list-sort-by li {
    display: inline-block;
    cursor: pointer;
    margin-right;
}
#list-sort-by li:hover {
    background-color: yellow;
}
#list-sort-by li:first-child {
    cursor: default;
    background-color: transparent !important;
}
#list {
	font-size: 12px;
	line-height: 16px;
    border: 1px solid #000;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#list li {
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
}
#list .item {
    border-bottom: 2px solid black;
    font-weight: normal;
    margin: 0;
    height: 28px;
    line-height: 28px;
}
#list .item:hover {
    background-color: #eee;
}
#list .title {
    font-weight: bold;
}
#list .left {
    float: left;
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
}
#list .right {
    float: right;
    padding-right: 10px;
}
#list .subject {
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    margin-right: 5px;
}

circle {
    opacity: .5;
}
circle:hover {
    opacity: 1;
    stroke: #808080;
}
circle.selected {
    opacity: 1;
    stroke: #000;
}


.area {
    opacity: .15;
}

.axis path,
.axis line{
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.axis text {
    font-size: 11px;
}

.axis-label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.barchart {
    font-size: 12px;
    fill: gray;
    z-index: -1;
}
#shield {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    z-index: 199;
    display: none;
}

#popup {
	font-size: 14px;
	line-height: 22px;
	margin-right:25%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    z-index: 200;
    left: 25%;
    top: 25%;
    text-align: left;
    cursor: pointer;
    padding:16px 36px;
    display: none;
}
#popup li{
    padding-bottom: 4px;
}

#popup img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#more-instructions{
	font-size: 14px;
	line-height: 22px;
	margin-right:25%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    z-index: 200;
    left: 25%;
    top: 25%;
    text-align: left;
    cursor: pointer;
    padding:16px 36px;
    display:none;

}

#tooltip {
    max-width: 150px;
    height: auto;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 100;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
    display: none;
}